@charset "utf-8";
/* CSS Document */
@-ms-viewport{width:device-width}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
html::-webkit-scrollbar {width: 0;}
html,body,div,p,span,a,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,form,input,select,textarea,button,label,fieldset,table,tr,td,th,tbody,thead,tfoot,caption,video,strong,em,i,b{ margin:0; padding:0; word-break:keep-all; font-family:inherit; font-size:inherit; font-weight:inherit;}
ul,ol,li{list-style:none}
img { border:none; max-width:100%}
em,i{ font-style:normal}
h1,h2,h3,h4,strong,b,th{ font-weight:700;}
table{ border-collapse:collapse; border-spacing:0;}
span, strong, a, em, i, b, input, button, textarea{ font-size:inherit; font-family:inherit; vertical-align:top}
input[type=button], input[type=submit], button{ cursor:pointer;}
input:focus, textarea:focus, button:focus, select:focus{ outline: none;}
input[type=button], input[type=submit], input[type="text"],input[type="password"],textarea,select{ -webkit-appearance:none; -moz-appearance:none; appearance:none;}
select{ padding:0 25px 0 10px; background:url(/images/select_arr.png) no-repeat 98% center #f5f5f5; max-width:100%;}
select::-ms-expand{display:none;}

a:link   { color:#333; text-decoration:none}
a:visited{ color:#333;}
a:active { color:#333;}
a:hover  { color:#333; text-decoration:none}

html{overflow-x:hidden; overflow-y:scroll}
body{ font-family:"Roboto","ng",sans-serif; font-size:16px; font-weight:400; line-height:1.2;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: antialiased;
font-smoothing: antialiased;
}



/**/
.label_st{}
.label_st > *{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; cursor:pointer;}
.label_st span{ margin-left:3px; font-family:nbg, sans-serif; font-size:.913em; color:#888; font-weight:600}

.input_st{display:inline-block; *display:inline; zoom:1; vertical-align:middle; border:none; color:#888; background:#fff; border:2px solid #fff; font-family:nbg, sans-serif; font-size:.913em}
.input_st:focus,
.input_st:hover{ border-color:#aaa}
/*input[type=text].input_st,
input[type=password].input_st{line-height:50px; height:50px; padding:0 10px}
textarea.input_st{ padding:10px}
select{ width:100px; border:1px solid #ccc; appearance:none;-webkit-appearance:none; padding:0 30px 0 10px; background:url(../images/select_arr.png) no-repeat right center #fff !important; max-width:100%}
select::-ms-expand{display:none;}
input[type=button].btn_st,
input[type=submit].btn_st{display:inline-block; *display:inline; zoom:1; vertical-align:middle; border:none; background:#8bd45a; color:#fff; line-height:50px; text-align:center; font-weight:600}
*/

/*inc*/
.al{ text-align: left !important;}
.ac{ text-align: center !important;}
.ar{ text-align: right !important;}

.vt{ vertical-align:top !important;}
.vm{ vertical-align:middle !important;}
.vb{ vertical-align:bottom !important;}

.fl{ float:left !important;}
.fr{ float:right !important;}
.cl{ clear:both !important; display:block}
.oh{ overflow:hidden !important;}
.clb{ *zoom:1;}
.clb:after{ content:""; display:block; clear:both;}

.vb_h{visibility:hidden !important;}
.vb_v{visibility:visible !important;}

.pr{ position:relative; z-index:inherit}
.pf{ position:fixed; z-index:inherit}
.pa{ position:absolute; z-index:inherit}
.pa100{ position:absolute; z-index:inherit; left:0; top:0; width:100%; height:100%}

.di{display:inline-block; *display:inline; zoom:1;}
.db{ display:block !important;}
.dn{ display:none !important;}

.di_wrap{font-size:0}
.di_wrap > li,
.di_wrap > .di_li{display:inline-block; *display:inline; zoom:1; font-size:1rem;}

.tt_cut{text-overflow:ellipsis; white-space:nowrap; overflow:hidden}

.pt {cursor:pointer;}

.va_wrap{ text-align:center; white-space:nowrap}
.va{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; width:0; height:100%}
.va_tt{display:inline-block; *display:inline; zoom:1; vertical-align:middle; width:auto; height:auto; white-space:normal;}
.va_wrap img{ display:inline-block; *display:inline; zoom:1; vertical-align:middle;}

.vm_wrap{ text-align:center; white-space:nowrap}
.vm_tt{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; width:auto; height:100%; white-space:normal}
.vm_tt:before{ content:""; display:inline-block; *display:inline; zoom:1; vertical-align:middle; width:0; height:100%;}
.vm_tt img{ vertical-align:middle;}

.img_resize{ display:block;}

.con_idx{ position:relative}
.con_idx > .idx{ position:absolute; left:0; top:0; width:100%; visibility:hidden;filter:alpha(opacity=0);opacity:0;}
.con_idx > .idx.on{ position:relative; visibility: visible; filter:alpha(opacity=100);opacity:1;}

.line_ani,
.line_ani_wrap{ position:relative; z-index:inherit}
.line_ani .line{ position:absolute; background:#ff6161; width:0; height:0}
.line_ani .line.lineT{ left:-1px; top:-1px; transition:width 0.4s;}
.line_ani .line.lineR{ right:-1px; top:-1px; transition:height 0.4s;}
.line_ani .line.lineB{ right:-1px; bottom:-1px; transition:width 0.4s;}
.line_ani .line.lineL{ left:-1px; bottom:-1px; transition:height 0.4s;}
.line_ani:hover .line.lineT,
.line_ani:hover .line.lineB{ width:100.3%; height:1px}
.line_ani:hover .line.lineR,
.line_ani:hover .line.lineL{ width:1px; height:100.3%}

.layer_wrap{}
.layer_wrap .layer_bg{position:fixed; z-index:100000000; width:100%; height:100%; left:0; top:0; background:#000; display:none; filter:alpha(opacity=50);opacity:0.5; cursor:pointer}
.layer_wrap .layer_frame{position:fixed; z-index:100000001; filter:alpha(opacity=0);opacity:0; background:#fff; border-radius:0 0 10px 10px; box-shadow:1px 1px 10px #333}
.layer_wrap .layer_frame .ifr{position:absolute; z-index:10000; left:0; top:0; width:100%; height:100%}
.layer_wrap .close{position:absolute; z-index:10000; right:0; top:0; width:50px; height:50px; line-height:50px; color:#000; text-align:center; font-size:2rem; opacity:.8;}
.layer_wrap .close:hover{ opacity:1}
.layer_wrap .layer_img{position:fixed; width:95%; height:95%; text-align:center; left:2.5%; top:2.5%; z-index:10000000000;cursor:pointer}
.layer_wrap .layer_img img{ box-shadow:2px 2px 10px #111}
body#pop{ position:absolute; left:0; top:0; width:100%; height:100%; padding-bottom:10px; box-sizing:border-box}
body#pop .pop_tit{ display:block; position:fixed; z-index:2; left:0; right:0; top:0; padding:0 25px; line-height:50px; background:#28292b; font-size:1.250em; color:#fff; letter-spacing:-0.5px;}
body#pop .pop_tit + *{ padding:70px 25px 40px 25px;}


/**/
.pd0{ padding:0 !important;}

.mt0{ margin-top:0 !important;}
.mt5{ margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt20{ margin-top:20px !important;}
.mt30{ margin-top:30px !important;}
.mt40{ margin-top:40px !important;}
.mt50{ margin-top:50px !important;}

.mb0{ margin-bottom:0 !important;}
.mb5{ margin-bottom:5px !important;}
.mb10{ margin-bottom:10px !important;}
.mb20{ margin-bottom:20px !important;}
.mb30{ margin-bottom:30px !important;}
.mb40{ margin-bottom:40px !important;}
.mb50{ margin-bottom:50px !important;}

.ml0{ margin-left:0 !important;}
.ml5{ margin-left:5px !important;}
.ml10{ margin-left:10px !important;}
.ml20{ margin-left:20px !important;}
.ml30{ margin-left:30px !important;}
.ml40{ margin-left:40px !important;}
.ml50{ margin-left:50px !important;}

.mr0{ margin-right:0 !important;}
.mr5{ margin-right:5px !important;}
.mr10{ margin-right:10px !important;}
.mr20{ margin-right:20px !important;}
.mr30{ margin-right:30px !important;}
.mr40{ margin-right:40px !important;}
.mr50{ margin-right:50px !important;}

/**/
.c_black{ color:#111 !important;}
.c_gray{ color:#777 !important;}
.c_blue{ color:#2a5caa !important;}
.c_red{ color:#b91515 !important;}
.c_point{ color:#2560c2 !important}

.color1{ color:#b32ce2}
.color2{ color:#bbbbbb}
.color3{ color:#ed0403}
.color4{ color:#ffc105}
.color5{ color:#333333}
.color6{ color:#00b8b8}
.color7{ color:#FF6699}

.fs10{ font-size:0.625em}
.fs11{ font-size:0.688em}
.fs12{ font-size:0.750em}
.fs13{ font-size:0.813em}
.fs14{ font-size:0.875em}
.fs15{ font-size:0.938em}
.fs16{ font-size:1.000em}
.fs17{ font-size:1.063em}
.fs18{ font-size:1.125em}
.fs19{ font-size:1.188em}
.fs20{ font-size:1.250em}

/*nav*/
.nav_btn{ display:block; background:url(../images/inc/top_allmenu.png) no-repeat left center; width:30px; height:23px; margin-top:5px}
.nav_btn.open{}
.nav_btn.close{}

.l-nav{ background:; font-size:1.5em}
.l-nav .nav_logo{ height:80px; padding:20px 20px; position:relative; text-align:center;}
.l-nav .nav_logo img{ height:100%}
.l-nav .nav_close{ display:block; position:absolute; z-index:inherit; right:10px; top:15px; width:50px; height:50px; background: url(../images/inc/angle_prod.png) no-repeat center center; background-size:15px auto}

.l-nav .nav_link{ background:#f24e4e; display:block; line-height:50px; color:#fff; padding:0 20px; text-align:center}

.l-nav .lnb{ }
.l-nav .lnb .dp1{ line-height:40px; padding:5px 20px; color:#000;  display:block; border-top:1px solid #ccc; font-size:0.750em;}
.l-nav .lnb .dp1 .tit {overflow:hidden; display:inline-block;}
.l-nav .lnb .dp1:last-child {border-bottom:1px solid #ccc;}
.l-nav .lnb .dp1:after{content:"\e942"; font-family : xeicon; float:right; font-size:1.5em; color:#bbb}
.l-nav .lnb .dp1.nolink:after{content:"\e93f"; font-family : xeicon; color:#bbb; display:none;}
.l-nav .lnb .dp1.on{ background:#fff;}
.l-nav .lnb .dp1.on:after{ }
.l-nav .lnb > li.m_search{ display:none}

.l-nav .lnb .dp2{ display:none; background:#f5f5f5;}
.l-nav .lnb .dp2 > li > a{ display:block; font-size:.750em; padding:0 20px; line-height:45px; border-top:1px dashed #ccc; color:#111; overflow:hidden}
.l-nav .lnb .dp2 > li > a:before{ content:"-"; margin-right:5px}
.l-nav .lnb .dp2 > li:first-child > a{ }

.l-nav .gnb .dp1{ line-height:40px; padding:0 20px;  overflow:hidden; display:block; border-top:1px solid #ddd; color:#222;}
.l-nav .gnb .dp1 .tit > a {color:#419f73; font-family:'notokrM',sans-serif; font-size:.938rem;}


.l-nav .tel{ margin:20px; border-radius:2px; line-height:40px; text-align:center; font-weight:bold; color:#fff; background:url(../images/inc/chart_st1_bg.gif) repeat-x left top; border:1px solid #d5251f; padding-top:5px}

.l-wrapper{ overflow:hidden}
.l-main {
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: inherit;
  overflow: hidden;
}

.l-nav {
  -webkit-transition: opacity 700ms ease;
  -moz-transition: opacity 700ms ease;
  -o-transition: opacity 700ms ease;
  transition: opacity 700ms ease;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index:1
}
.l-nav::-webkit-scrollbar {width: 0;}

html.l-nav-open .l-nav{width:80%;}

html.l-nav-open,
html.l-nav-open body {
  height: 100%;
  overflow: hidden
}
html.l-nav-closing body {
  background: none;
}
html.l-nav-open .l-main {
  -webkit-transform: translate3d(-80%, 0, 0);
  -moz-transform: translate3d(-80%, 0, 0);
  -o-transform: translate3d(-80%, 0, 0);
  transform: translate3d(-80%, 0, 0);
}
html.l-nav-open .l-nav {
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  opacity: 1;
  -webkit-box-shadow: 0 0 0.5625rem #666;
  box-shadow: 0 0 0.5625rem #666;
}
.l-nav-open .l-nav,
.l-nav-closing .l-nav {
  display: block;
}

@media screen and (max-width:767px){


}